@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

* {
  color: var(--col-wt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

:root {
  // font type
  --ft-main: "Segoe UI", sans-serif;
  --ft-second: Arial, sans-serif;
  --ft-roboto: "Roboto", sans-serif;

  // colors
  --col-bg: #0e0e0e;
  --col-blk: #000;
  --col-wt: #fff;
  --col-rd: #ff6969;
  --col-mint: #add172;
  --col-violit: #8b9dff;
  --col-green: #4ad1c7;
  --col-orng: #ffaf52;
  --col-main: #707070;
  --col-second: #9a9a9a;

  // font sizes
  --fs-6: 0.65rem;
  --fs-8: 0.8rem;
  --fs-10: 1rem;
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-26: 2.6rem;
  --fs-28: 2.8rem;
  --fs-30: 3rem;
  --fs-33: 3.3rem;
  --fs-38: 3.8rem;
  --fs-40: 4rem;

  //   line spacing
  --line-s-24: 2.4rem;
  --line-s-27: 2.7rem;
  --line-s-32: 3.2rem;
  --line-s-37: 3.7rem;
  --line-s-44: 4.4rem;
  --line-s-53: 5.3rem;

  //   font style
  --f-style-upper: uppercase;
  --f-style-capt: capitalize;

  //   font weight
  --fw-normal: normal;
  --fw-bold: bold;

  // letter spacing
  --letters-43: 2.8rem;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--col-bg) !important;
  font-family: var(--ft-main);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  position: relative;
  height: 100%;
}

#app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

//   custom container
.layout {
  margin: 0 auto;
  padding: 3rem 15rem 0; // max-width: 90%;
}

.section-layout {
  padding: 9rem 10rem 0;
}

//// Nav bar
.nav-bar {
  .nav-main-st {
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    padding: 0;
    margin: 0;
    text-transform: var(--f-style-upper);
  }
  .nav-st {
    font-size: var(--fs-8);
    font-weight: var(--fw-bold);
    padding: 0;
    margin: 0;
  }

  .active {
    transition: all 0.1s ease-in !important;
    font-family: var(--ft-main);
    font-style: var(--fw-normal);
    font-weight: var(--fw-bold) !important;
    font-size: var(--fs-18) !important;
    line-height: var(--line-s-24);
    color: var(--col-wt) !important;
    text-transform: capitalize;
    text-decoration: underline !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 3px !important;
  }
}

//  footer
.footer {
  border-top: 1px solid var(--col-second);
  // & > div {
  //   background-color: yellow !important;
  //   width: 80%;
  //   margin: 0 auto;
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   margin-top: auto;
  // }
}

//   global classes
.style-1 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-40);
  line-height: var(--line-s-53);
  color: var(--col-wt);
  text-transform: var(--f-style-upper);
}

.style-2 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: 500;
  font-size: var(--fs-24);
  line-height: var(--line-s-27);
  color: var(--col-second);
  text-transform: var(--f-style-upper);
}

.style-3 {
  font-family: var(--ft-main);
  color: var(--col-second);
  line-height: var(--line-s-44);
  text-transform: var(--f-style-upper);
  font-size: var(--fs-38);
  font-weight: var(--fw-normal);
}

.style-4 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-20);
  line-height: var(--line-s-27);
  color: var(--col-wt);
  text-transform: var(--col-wt);
}

.style-5 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: 500;
  font-size: var(--fs-20);
  line-height: var(--line-s-24);
  color: var(--col-second);
}

.style-6 {
  position: absolute;
  text-align: center;
  width: 27.4rem;
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-20);
  line-height: var(--line-s-37);
  color: var(--col-wt);
}

.style-7 {
  width: 20%;
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal) !important;
  font-size: var(--fs-18) !important;
  line-height: var(--line-s-24);
  color: var(--col-second);
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-8 {
  font-family: var(--ft-main);
  font-style: var(--fw-ca);
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  line-height: var(--line-s-37);
  color: var(--col-second);
  letter-spacing: var(--letters-43);
  letter-spacing: 2.5rem;
  text-transform: var(--f-style-upper);
}

.style-9 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: var(--line-s-37);
  color: var(--col-second);
  text-transform: var(--f-style-capt);
}

.style-10 {
  font-size: var(--ft-main);
  font-weight: 500;
  font-size: var(--fs-20);
  line-height: var(--line-s-24);
  color: var(--col-second);
  text-transform: var(--f-style-capt);
}

.thin-label {
  font-family: var(--ft-roboto);
  font-weight: 100;
  font-size: var(--fs-38);
  line-height: var(--line-s-44);
  color: var(--col-second);
}

.submit-btn {
  width: 100%;
  height: 6.2rem;
  background-color: transparent;
  border: 1px solid #464545;
  color: #939393;
  font-size: 1.6rem;
  transform: all 0.5s ease-in-out;
  font-weight: bold;
  &:hover {
    background-color: #cccccc3f;
    color: var(--col-white);
    border-color: var(--col-white);
  }
}

input {
  width: 100%;
  height: 6.2rem;
  background-color: transparent;
  border: 1px solid #464545;
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #464545;

  &::placeholder {
    font-family: var(--ft-roboto);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #464545;
  }
}

textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #464545;
  padding: 1rem;
  color: #464545;
  font-size: 1.6rem;
  flex-grow: 1;
  &::placeholder {
    font-family: var(--ft-roboto);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #464545;
  }
}

// flex
.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// media query
// @media only screen and (max-width: 1344px) {
//   html {
//     font-size: 55% !important;
//   }
// }

// @media only screen and (max-width: 1200px) {
//   html {
//     font-size: 45% !important;
//   }
// }

// @media only screen and (max-width: 944px) {
//   html {
//     font-size: 40% !important;
//   }
// }

// @media only screen and (max-width: 704px) {
//   html {
//     font-size: 25% !important;
//   }
//   .layout {
//     max-width: 100%;
//     padding: 2rem 3rem;
//   }
// }

// @media only screen and (max-width: 544px) {
//   html {
//     font-size: 23% !important;
//   }
//   .layout {
//     max-width: 100%;
//     padding: 2rem 3rem;
//   }
// }

@media only screen and (max-width: 320px) {
  html {
    font-size: 18% !important;
  }
  // hero secion
  .hero-sec {
    .swiper-horizontal
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      margin-bottom: 15rem !important;
      margin-left: 1rem !important;
    }
  }
  .service-sec {
    .style-2 {
      font-size: var(--fs-28) !important;
    }
    .style-10 {
      font-size: var(--fs-22) !important;
    }
  }
  .about-us {
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 7rem !important;
      width: 6rem !important;
      height: 6rem !important;
    }
  }
  body {
    // background-color: rgba(255, 166, 0, 0.308) !important;
  }
}
@media only screen and (min-width: 321px) {
  html {
    font-size: 25% !important;
  }
  .hero-sec {
    .swiper-horizontal
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      margin-bottom: 12rem !important;
      margin-left: 2rem !important;
    }
  }
  .service-sec {
    .style-2 {
      font-size: var(--fs-24) !important;
    }
    .style-10 {
      font-size: var(--fs-18) !important;
    }
  }
  .about-us {
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 7rem !important;
      width: 3rem !important;
      height: 3rem !important;
    }
  }
  body {
    // background-color: rgba(0, 195, 255, 0.514) !important;
  }
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 32% !important;
  }
  body {
    // background-color: rgb(166, 255, 0) !important;
  }
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 35% !important;
  }
  .about-us {
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 7rem !important;
      width: 5rem !important;
      height: 5rem !important;
    }
  }

  body {
    // background-color: rgb(0, 255, 234) !important;
  }
}

@media only screen and (min-width: 769px) {
  html {
    font-size: 45% !important;
  }
  body {
    // background-color: rgb(0, 38, 255) !important;
  }
}
@media only screen and (min-width: 1025px) {
  html {
    font-size: 45% !important;
  }
  body {
    // background-color: rgb(225, 0, 255) !important;
  }
}
@media only screen and (min-width: 1201px) {
  html {
    font-size: 62.5% !important;
  }
  .hero-sec {
    .swiper-horizontal
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      margin-bottom: 30rem !important;
      margin-left: 5rem !important;
    }
  }
  .service-sec {
    .style-2 {
      font-size: var(--fs-24);
    }
    .style-10 {
      font-size: var(--fs-20);
    }
  }
  .about-us {
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 7rem !important;
      width: 6rem !important;
      height: 6rem !important;
    }
  }
  body {
    // background-color: rgb(255, 251, 0) !important;
  }
}
