@import "./base.css";

* {
  color: var(--col-wt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

:root {
  // font type
  --ft-main: "Segoe UI", sans-serif;
  --ft-second: Arial, sans-serif;

  // colors
  --col-bg: #0e0e0e;
  --col-blk: #000;
  --col-wt: #fff;
  --col-rd: #ff6969;
  --col-mint: #add172;
  --col-violit: #8b9dff;
  --col-green: #4ad1c7;
  --col-orng: #ffaf52;
  --col-main: #707070;
  --col-second: #9a9a9a;

  // font sizes
  --fs-6: 0.65rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-24: 2.4rem;
  --fs-28: 2.8rem;
  --fs-33: 3.3rem;
  --fs-40: 4rem;

  //   line spacing
  --line-s-24: 2.4rem;
  --line-s-27: 2.7rem;
  --line-s-32: 3.2rem;
  --line-s-37: 3.7rem;
  --line-s-44: 4.4rem;
  --line-s-53: 5.3rem;

  //   font style
  --f-style-upper: uppercase;
  --f-style-capt: capitalize;

  //   font weight
  --fw-normal: normal;
  --fw-bold: bold;

  // letter spacing
  --letters-43: 2.8rem;
}

input:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--col-bg) !important;
  font-family: var(--ft-main);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

#app {
  min-height: 100vh;
  position: relative;
}

//   custom container
.layout {
  margin: 0 auto;
  padding: 5rem 5.5rem;
}

.section-layout {
  padding: 9rem 9.6rem 0;
}

.content {
  padding-bottom: 20rem;
}

// Nav bar
.nav-bar {
  .nav-main-st {
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    padding: 0;
    margin: 0;
  }
  .nav-st {
    font-size: var(--fs-6);
    font-weight: var(--fw-bold);
    padding: 0;
    margin: 0;
  }

  .active {
    transition: all 0.1s ease-in !important;
    font-family: var(--ft-main);
    font-style: var(--fw-normal);
    font-weight: var(--fw-bold) !important;
    font-size: var(--fs-18) !important;
    line-height: var(--line-s-24);
    color: var(--col-wt) !important;
    text-transform: var(--f-style-upper);
    text-decoration: underline !important;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 3px !important;
  }
}

//  footer
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}

//   global classes
.style-1 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-40);
  line-height: var(--line-s-53);
  color: var(--col-wt);
  text-transform: var(--f-style-upper);
}

.style-2 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-18);
  line-height: var(--line-s-24);
  color: var(--col-second);
  text-transform: var(--f-style-capt);
}

.style-3 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-33);
  line-height: var(--line-s-44);
  color: var(--col-main);
}

.style-4 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-20);
  line-height: var(--line-s-27);
  color: var(--col-wt);
  text-transform: var(--col-wt);
}

.style-5 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal);
  font-size: var(--fs-24);
  line-height: var(--line-s-32);
  color: var(--col-wt);
}

.style-6 {
  position: absolute;
  text-align: center;
  width: 27.4rem;
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  line-height: var(--line-s-37);
  color: var(--col-wt);
}

.style-7 {
  width: 20%;
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-normal) !important;
  font-size: var(--fs-18) !important;
  line-height: var(--line-s-24);
  color: var(--col-second);
  text-transform: var(--f-style-upper);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-8 {
  font-family: var(--ft-main);
  font-style: var(--fw-ca);
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  line-height: var(--line-s-37);
  color: var(--col-second);
  letter-spacing: var(--letters-43);
  letter-spacing: 25px;
  text-transform: var(--f-style-upper);
}

.style-9 {
  font-family: var(--ft-main);
  font-style: var(--fw-normal);
  font-weight: var(--fw-bold);
  font-size: var(--fs-28);
  line-height: var(--line-s-37);
  color: var(--col-wt);
}

// media query
@media only screen and (max-width: 1344px) {
  html {
    font-size: 55% !important;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 45% !important;
  }
}
@media only screen and (max-width: 944px) {
  html {
    font-size: 35% !important;
  }
}
@media only screen and (max-width: 704px) {
  html {
    font-size: 25% !important;
  }
}
@media only screen and (max-width: 544px) {
  html {
    font-size: 23% !important;
  }
}
