/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
  html {
    font-size: 28% !important;
  }

  :root {
    // --1st-title: 20px;
    // --2st-title: 18px;
    // --3st-title: 16px;
    // --body-txt: 14px;
    --first-title: 18px;
    --second-title: 16px;
    --third-title: 14px;
    --body-txt: 12px;
  }

  // nav bar
  .nav-bar {
    .active {
      font-size: var(--fs-33) !important;
    }
  }
  // responsive nav
  .offcanvas-body {
    .responsive-nav {
      gap: 6rem;
      .nav-link {
        font-size: var(--fs-30);
        &:hover {
          font-size: var(--fs-33);
        }
      }
    }
  }

  // hero section
  .hero-sec {
    height: 750px;
    .hero-text {
      width: 95% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 18px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3rem;
      height: 3rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 30px;
    }
    .swiper-button-prev {
      left: 30px;
    }
  }

  // about section
  .about-us {
    height: 50rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }

  // service section
  .service-sec {
    height: 650px;
    .ser-title {
      margin: 12px 0;
      padding: 0;
      font-size: var(--second-title);
    }
    .service-img {
      height: 100% !important ;
      justify-content: center !important;
      .box-responsive {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;
        .service-list {
          gap: 0 !important;
          height: fit-content !important;
          .serv-item {
            height: auto !important;
            margin: 1.5rem auto !important;
            width: 80% !important;
            padding: 1.5rem 5rem !important;
            img {
              width: 5rem !important;
              height: 5rem !important;
            }
            p {
              padding-left: 4px !important;
              font-size: var(--third-title) !important;
            }
          }
        }
        .img-circle {
          margin-top: auto !important;
          height: 200px !important;
          order: 3;
          flex: 1;
          .serv-image {
            height: 100% !important;
            width: 50% !important;
            max-width: 40rem;
            min-width: 35rem;
          }
          .big-c {
            // width: 40%;
            height: 100% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
            // height: auto;
            // min-width: 33rem;
          }
          .small-c {
            // width: 20%;
            aspect-ratio: 1 / 1 !important;
            // height: auto;
            height: 50% !important;
            width: auto !important;
            min-width: 15rem;
          }
        }
      }

      .service-feat {
        margin-top: 7rem;
        .f-box {
          width: 100% !important;
          div {
            margin-bottom: 5rem;
            img {
              height: 4.8rem !important;
              margin-bottom: 2rem !important;
            }
            .feat {
              font-size: var(--third-title);
            }
          }
        }
      }
    }
  }
  // service process
  .service-process {
    height: 700px;
    .service-proc-img {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center !important;

      .serv-process-hover {
        width: 60% !important;
        min-width: 40rem !important;
        height: auto;
      }
      .service-proc-features {
        max-height: 50% !important;
        margin: 40px 0 0 !important;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        .service-proc-title {
          padding: 0;
          margin: 0;
          line-height: 20px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          padding: 4rem 2rem !important;
          width: 80%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }

  .proj-title {
    font-size: var(--second-title);
    margin: 40px auto 30px !important;
  }
  // project card
  .project-card {
    width: 35rem;
    height: 53.8rem;

    .card-content {
      font-size: var(--third-title);
      bottom: 5%;
    }
  }
  .thin-label {
    font-size: var(--second-title);
    margin: 30px auto 20px !important;
  }

  .contact-form {
    width: 95% !important;
  }

  input,
  select,
  textarea {
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }
  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }

  // responsive footer
  .footer-responsive {
    height: 500px;
    width: 100%;
    .footer-items {
      margin-bottom: 20% !important;

      .foot-title {
        text-align: start !important;
        font-size: var(--second-title) !important;
      }
      .footer-items-box {
        .footer-list-title {
          font-size: var(--third-title) !important;
          line-height: 18px !important;
        }
        ul {
          li {
            font-size: var(--third-title) !important;
            line-height: 17px !important;
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title);
  }
  // product info
  .project-info {
    width: 95% !important;
    margin: 3rem auto !important;
    .product-details {
      margin: 0 !important;
      width: 100% !important;
      .product-title {
        font-size: var(--first-title) !important;
      }
      .product-text {
        font-size: var(--body-txt) !important;
        line-height: 17px;
      }
    }
    .product-feature {
      .feat-title {
        font-size: var(--first-title) !important;
      }
      .feat-num {
        font-size: var(--body-txt) !important;
      }
      .feat-tit {
        font-size: var(--second-title) !important;
      }
      .feat-bdy {
        font-size: var(--body-txt) !important;
        line-height: 16px;
      }
    }
    .product-download {
      .download-btn {
        width: 100%;
        height: auto !important;
        font-size: var(--body-txt) !important;
        padding: 13px 0;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 351px) and (max-width: 767px) {
  html {
    font-size: 30% !important;
  }
  :root {
    --first-title: 20px;
    --second-title: 18px;
    --third-title: 16px;
    --body-txt: 14px;
  }

  // nav bar
  .nav-bar {
    .active {
      font-size: var(--fs-33) !important;
    }
  }

  // responsive nav
  .offcanvas-body {
    .responsive-nav {
      gap: 8rem;
      .nav-link {
        font-size: var(--fs-30);
        &:hover {
          font-size: var(--fs-33);
        }
      }
    }
  }

  // hero section
  .hero-sec {
    height: 650px;
    .hero-text {
      width: 95% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 22px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.2rem;
      height: 3.2rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 40px !important;
    }
    .swiper-button-prev {
      left: 40px !important;
    }
  }
  // about section
  .about-us {
    height: 80rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }

  // service section
  .service-sec {
    height: 900px;
    .ser-title {
      margin: 25px 0;
      padding: 0;
      font-size: var(--second-title);
    }
    .service-img {
      height: 100% !important ;
      justify-content: center !important;
      .box-responsive {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;
        .service-list {
          gap: 0 !important;
          height: fit-content !important;
          .serv-item {
            height: auto !important;
            margin: 1.5rem auto !important;
            width: 80% !important;
            padding: 6px 5rem !important;
            img {
              width: 7rem !important;
              height: 7rem !important;
            }
            p {
              padding-left: 4px !important;
              font-size: var(--third-title) !important;
            }
          }
        }
        .img-circle {
          margin-top: auto !important;
          height: 250px !important;
          order: 3;
          flex: 1;

          .serv-image {
            height: 100% !important;
            width: 40% !important;
            max-width: 80rem;
            min-width: 50rem;
          }
          .big-c {
            // width: 40%;
            height: 100% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
            // min-width: 45rem;
          }
          .small-c {
            // width: 20%;
            height: 50% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
            // min-width: 25rem;
          }
        }
      }

      .service-feat {
        margin-top: 5rem;
        .f-box {
          width: 100% !important;
          div {
            margin-bottom: 3rem;
            img {
              height: 7rem !important;
              margin-bottom: 2rem !important;
            }
            .feat {
              font-size: var(--third-title);
            }
          }
        }
      }
    }
  }
  // service process
  .service-process {
    height: 950px;
    .service-proc-img {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center !important;
      .serv-process-hover {
        width: 100% !important;
        min-width: 60rem !important;
        max-width: 80rem;
        height: auto;
      }
      .service-proc-features {
        max-height: 40% !important;
        margin: 70px 0 0 !important;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        .service-proc-title {
          padding: 0;
          margin: 0;
          line-height: 20px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          height: auto !important;
          padding: 7px 1rem !important;
          width: 90%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }

  .proj-title {
    font-size: var(--second-title);
    margin: 70px auto 50px !important;
  }

  // project card
  .project-card {
    width: 35rem;
    height: 53.8rem;

    .card-content {
      font-size: var(--third-title) !important;
      bottom: 5%;
    }
  }
  .thin-label {
    font-size: var(--second-title) !important;
    margin: 70px auto 50px !important;
  }
  .contact-form {
    width: 90% !important;
    overflow: hidden !important;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px !important;
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }
  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }

  .footer-responsive {
    height: 600px;
    width: 100%;
    .footer-items {
      margin-bottom: 17% !important;

      .foot-title {
        text-align: start !important;
        font-size: var(--second-title) !important;
      }
      .footer-items-box {
        .footer-list-title {
          font-size: var(--third-title) !important;
          line-height: 25px !important;
        }
        ul {
          li {
            font-size: var(--third-title) !important;
            line-height: 22px !important;
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title) !important;
  }
  .project-info {
    width: 90% !important;
    margin: 3rem auto !important;
    .product-details {
      margin: 0 !important;
      width: 100% !important;

      .product-title {
        font-size: var(--first-title) !important;
      }
      .product-text {
        font-size: var(--body-txt) !important;
        line-height: 22px;
      }
    }
  }
  .product-feature {
    .feat-title {
      font-size: var(--first-title) !important;
    }
    .feat-num {
      font-size: var(--body-txt) !important;
    }
    .feat-tit {
      font-size: var(--second-title) !important;
    }
    .feat-bdy {
      font-size: var(--body-txt) !important;
      line-height: 18px !important;
    }
  }

  .product-download {
    .download-btn {
      width: 100%;
      height: auto !important;
      font-size: 12px !important;
      padding: 13px 0;
    }
  }
  //  footer
  .footer {
    height: 350px;
    .lets-hunt {
      height: 300px !important;
      .footer-items {
        top: -3%;
        .foot-title {
          font-size: var(--second-title) !important;
        }
        .footer-items-box {
          width: 90% !important;
          .footer-list-title {
            font-size: var(--third-title) !important;
            line-height: 18px !important;
          }
          ul {
            li {
              font-size: var(--body-txt) !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  .products-hero {
    width: 100vw !important;
  }
  .projects-hero {
    width: 100vw !important;
  }
}

// @media screen and (min-width: 450px) and (max-width: 768px) {
//   // responsive footer
//   .footer-responsive {
//     .footer-items {
//       bottom: 55% !important;
//       padding-bottom: 15rem !important;
//     }
//   }
// }
// /* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 35% !important;
  }
  body {
  }
  :root {
    --first-title: 20px;
    --second-title: 18px;
    --third-title: 16px;
    --body-txt: 14px;
  }

  // hero section
  .hero-sec {
    height: 650px;
    .hero-text {
      width: 95% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 25px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 40px !important;
    }
    .swiper-button-prev {
      left: 40px !important;
    }
  }

  // service section
  .service-sec {
    height: 500px;
    .ser-title {
      margin: 25px 0;
      padding: 0;
      font-size: var(--second-title);
    }
    .service-img {
      height: 100%;
      justify-content: center !important;
      .box-responsive {
        .service-list {
          .serv-item {
            width: 65%;
            height: auto !important;
            padding: 10px 10px !important;
            img {
              width: 4rem !important;
              height: 4rem !important;
            }
            p {
              font-size: 12px !important;
            }
          }
        }

        .img-circle {
          margin-top: auto !important;
          height: 250px !important;
          flex: 1;
          .serv-image {
            height: 100% !important;
            width: 40% !important;
            max-width: 80rem;
            min-width: 50rem;
          }
          .big-c {
            height: 100% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
          .small-c {
            height: 50% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
        }
      }
      .service-feat {
        margin-top: 10rem;
        .f-box {
          width: 100% !important;
          div {
            margin-bottom: 3rem;
            img {
              height: 5rem !important;
              margin-bottom: 2rem !important;
            }
            .feat {
              font-size: var(--third-title);
            }
          }
        }
      }
    }
  }
  // about section
  .about-us {
    height: 90rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }

  // service process
  .service-process {
    height: 500px;
    .service-proc-img {
      .serv-process-hover {
        width: 100% !important;
        min-width: 60rem !important;
        max-width: 80rem;
        height: auto;
      }
      .service-proc-features {
        .service-proc-title {
          line-height: 25px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          margin-bottom: 10px;
          padding: 20px 2rem !important;
          width: 70%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }
  .proj-title {
    font-size: var(--second-title);
    margin: 70px auto 50px !important;
  }

  // project card
  .project-card {
    width: 35rem;
    height: 53.8rem;

    .card-content {
      font-size: var(--third-title) !important;
      bottom: 5%;
    }
  }

  .thin-label {
    font-size: var(--second-title) !important;
    margin: 70px auto 50px !important;
  }

  .contact-form {
    width: 90% !important;
    overflow: hidden !important;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px !important;
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }

  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title) !important;
  }

  //  footer
  .footer {
    height: 350px;
    .lets-hunt {
      height: 300px !important;
      .footer-items {
        top: -3%;
        .foot-title {
          font-size: var(--second-title) !important;
        }
        .footer-items-box {
          width: 65% !important;
          .footer-list-title {
            font-size: var(--third-title) !important;
            line-height: 18px !important;
          }
          ul {
            li {
              font-size: var(--body-txt) !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }

  .project-info {
    width: 90% !important;
    margin: 3rem auto !important;
    .product-details {
      margin: 0 !important;
      width: 100% !important;

      .product-title {
        font-size: var(--first-title) !important;
      }
      .product-text {
        font-size: var(--body-txt) !important;
        line-height: 22px;
      }
    }
  }
  .product-feature {
    .feat-title {
      font-size: var(--first-title) !important;
    }
    .feat-num {
      font-size: var(--body-txt) !important;
    }
    .feat-tit {
      font-size: var(--second-title) !important;
    }
    .feat-bdy {
      font-size: var(--body-txt) !important;
      line-height: 18px !important;
    }
  }
  .product-download {
    .download-btn {
      width: 100%;
      height: auto !important;
      font-size: 12px !important;
      padding: 13px 0;
    }
  }
  .products-hero {
    width: 100vw !important;
  }
  .projects-hero {
    width: 100vw !important;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 40% !important;
  }

  :root {
    --first-title: 20px;
    --second-title: 18px;
    --third-title: 16px;
    --body-txt: 14px;
  }
  // hero section
  .hero-sec {
    height: 100rem;
    .hero-text {
      width: 95% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 25px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;

      .ser-title {
        margin: 25px 0;
        padding: 0;
        font-size: var(--second-title);
      }

      .box-responsive {
        .service-list {
          .serv-item {
            width: 65%;
            height: auto !important;
            padding: 10px 10px !important;
            img {
              width: 4rem !important;
              height: 4rem !important;
            }
            p {
              font-size: 12px !important;
            }
          }
        }

        .img-circle {
          margin-top: auto !important;
          height: 250px !important;
          flex: 1;
          .serv-image {
            height: 100% !important;
            width: 40% !important;
            max-width: 80rem;
            min-width: 50rem;
          }
          .big-c {
            height: 100% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
          .small-c {
            height: 50% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
        }
      }
      .service-feat {
        margin-top: 10rem;
        .f-box {
          width: 100% !important;
          div {
            margin-bottom: 3rem;
            img {
              height: 5rem !important;
              margin-bottom: 2rem !important;
            }
            .feat {
              font-size: var(--third-title);
            }
          }
        }
      }
    }
  }
  // service process
  .service-process {
    height: 500px;
    .service-proc-img {
      .serv-process-hover {
        width: 100% !important;
        min-width: 60rem !important;
        max-width: 80rem;
        height: auto;
      }
      .service-proc-features {
        .service-proc-title {
          line-height: 25px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          margin-bottom: 10px;
          padding: 20px 2rem !important;
          width: 70%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }

  // project card
  .project-card {
    .card-content {
      font-size: var(--third-title) !important;
      bottom: 5%;
    }
  }

  .thin-label {
    font-size: var(--second-title) !important;
    margin: 70px auto 50px !important;
  }

  .contact-form {
    width: 90% !important;
    overflow: hidden !important;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px !important;
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }

  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title) !important;
  }

  .proj-title {
    font-size: var(--second-title);
    margin: 70px auto 50px !important;
  }
  // about section
  .about-us {
    height: 80%;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  .products-hero {
    width: 40vw !important;
  }
  //  footer
  .footer {
    height: 350px;
    .lets-hunt {
      height: 300px !important;
      .footer-items {
        top: -3%;
        .foot-title {
          font-size: var(--second-title) !important;
        }
        .footer-items-box {
          width: 60% !important;
          .footer-list-title {
            font-size: var(--third-title) !important;
            line-height: 18px !important;
          }
          ul {
            li {
              font-size: var(--body-txt) !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 48% !important;
  }
  :root {
    --first-title: 20px;
    --second-title: 18px;
    --third-title: 16px;
    --body-txt: 14px;
  }
  // :root {
  //   --first-title: 20px;
  //   --second-title: 18px;
  //   --third-title: 16px;
  //   --body-txt: 14px;
  // }
  // body {
  //   background-color: yellow !important;
  // }
  // .hero-sec {
  //   height: 90rem;
  //   .hero-text {
  //     width: 80% !important;
  //     text-align: center;
  //     bottom: 12%;
  //     .hero-text-tilte {
  //       font-size: var(--first-title) !important;
  //       margin-bottom: 25px !important;
  //       font-weight: 500 !important;
  //     }
  //     .hero-text-body {
  //       font-size: var(--body-txt) !important;
  //       line-height: 22px !important;
  //       font-weight: 400 !important;
  //       margin: 0;
  //     }
  //   }

  //   .swiper-button-next,
  //   .swiper-button-prev {
  //     width: 3.5rem;
  //     height: 3.5rem;
  //     &::after {
  //       content: "";
  //     }
  //   }
  //   .swiper-button-next {
  //     right: 10rem;
  //   }
  //   .swiper-button-prev {
  //     left: 10rem;
  //   }
  // }
  // // service section
  // .service-sec {
  //   height: 85rem;
  //   .service-img {
  //     height: 100%;
  //     .box-responsive {
  //       .img-circle {
  //         height: 67rem !important;
  //         .serv-image {
  //           width: 100% !important;
  //         }
  //         .big-c {
  //           width: 100%;
  //           aspect-ratio: 1 / 1 !important;
  //           height: auto;
  //         }
  //         .small-c {
  //           width: 40%;
  //           aspect-ratio: 1 / 1 !important;
  //           height: auto;
  //         }
  //       }
  //     }
  //   }
  // }
  // // about section
  // .about-us {
  //   height: 90%;
  //   .swiper-button-next,
  //   .swiper-button-prev {
  //     margin: 0 5rem;
  //     width: 10rem;
  //     height: 10rem;

  //     &::after {
  //       font-size: 0;
  //     }
  //   }
  // }
  .products-hero {
    width: 40vw !important;
  }
  // hero section
  .hero-sec {
    height: 100rem;
    .hero-text {
      width: 95% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 25px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;

      .ser-title {
        margin: 25px 0;
        padding: 0;
        font-size: var(--second-title);
      }

      .box-responsive {
        .service-list {
          .serv-item {
            width: 65%;
            height: auto !important;
            padding: 10px 10px !important;
            img {
              width: 4rem !important;
              height: 4rem !important;
            }
            p {
              font-size: 12px !important;
            }
          }
        }

        .img-circle {
          margin-top: auto !important;
          height: 250px !important;
          flex: 1;
          .serv-image {
            height: 100% !important;
            width: 40% !important;
            max-width: 80rem;
            min-width: 50rem;
          }
          .big-c {
            height: 100% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
          .small-c {
            height: 50% !important;
            width: auto !important;
            aspect-ratio: 1 / 1 !important;
          }
        }
      }
      .service-feat {
        margin-top: 10rem;
        .f-box {
          width: 100% !important;
          div {
            margin-bottom: 3rem;
            img {
              height: 5rem !important;
              margin-bottom: 2rem !important;
            }
            .feat {
              font-size: var(--third-title);
            }
          }
        }
      }
    }
  }
  // service process
  .service-process {
    height: 500px;
    .service-proc-img {
      .serv-process-hover {
        width: 100% !important;
        min-width: 60rem !important;
        max-width: 80rem;
        height: auto;
      }
      .service-proc-features {
        .service-proc-title {
          line-height: 25px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          margin-bottom: 10px;
          padding: 20px 2rem !important;
          width: 70%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }

  // project card
  .project-card {
    .card-content {
      font-size: var(--third-title) !important;
      bottom: 5%;
    }
  }

  .thin-label {
    font-size: var(--second-title) !important;
    margin: 70px auto 50px !important;
  }

  .contact-form {
    width: 90% !important;
    overflow: hidden !important;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px !important;
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }

  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title) !important;
  }

  .proj-title {
    font-size: var(--second-title);
    margin: 70px auto 50px !important;
  }
  // about section
  .about-us {
    height: 80%;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  .products-hero {
    width: 40vw !important;
  }
  //  footer
  .footer {
    height: 350px;
    .lets-hunt {
      height: 300px !important;
      .footer-items {
        top: -3%;
        .foot-title {
          font-size: var(--second-title) !important;
        }
        .footer-items-box {
          width: 60% !important;
          .footer-list-title {
            font-size: var(--third-title) !important;
            line-height: 18px !important;
          }
          ul {
            li {
              font-size: var(--body-txt) !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }
}

// /* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
  html {
    font-size: 62.5% !important;
  }
  :root {
    --first-title: 20px;
    --second-title: 18px;
    --third-title: 16px;
    --body-txt: 14px;
  }
  body {
    // background-color: rgba(204, 0, 255, 0.521) !important;
  }

  .products-hero {
    width: 35vw !important;
  }
  .hero-sec {
    height: 100rem;
    .hero-text {
      width: 50% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--first-title) !important;
        margin-bottom: 25px !important;
        font-weight: 500 !important;
      }
      .hero-text-body {
        font-size: var(--body-txt) !important;
        line-height: 25px !important;
        font-weight: 400 !important;
        margin: 0;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;
      .box-responsive {
        .img-circle {
          height: 67rem !important;
          .serv-image {
            width: 100% !important;
          }
          .big-c {
            width: 100%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
          .small-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
        }
      }
    }
  }
  // service process
  .service-process {
    .service-proc-img {
      .serv-process-hover {
      }
      .service-proc-features {
        .service-proc-title {
          line-height: 25px;
          font-size: var(--second-title);
        }
        .service-proc-feat {
          margin-bottom: 10px;
          padding: 20px 2rem !important;
          width: 50%;
          font-size: var(--third-title) !important;
        }
      }
    }
  }

  // project card
  .project-card {
    .card-content {
      font-size: var(--third-title) !important;
      bottom: 5%;
    }
  }

  .thin-label {
    font-size: var(--second-title) !important;
    margin: 70px auto 50px !important;
  }

  .contact-form {
    width: 80% !important;
    overflow: hidden !important;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px !important;
    font-size: var(--body-txt) !important;
    padding: 10px 5px !important;
    height: auto !important;

    &::placeholder {
      font-size: var(--body-txt) !important;
    }
  }
  .submit-btn {
    height: auto !important;
    font-size: var(--body-txt) !important;
    padding: 13px 0;
  }

  .client-slid {
    .slide-title {
      font-size: var(--first-title) !important;
    }
  }
  .no-data {
    font-size: var(--first-title) !important;
  }

  .proj-title {
    font-size: var(--second-title);
    margin: 70px auto 50px !important;
  }
  // about section
  .about-us {
    height: 80%;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  .products-hero {
    width: 40vw !important;
  }
  //  footer
  .footer {
    height: 350px;
    .lets-hunt {
      height: 300px !important;
      .footer-items {
        top: -3%;
        .foot-title {
          font-size: var(--second-title) !important;
        }
        .footer-items-box {
          width: 60% !important;
          .footer-list-title {
            font-size: var(--third-title) !important;
            line-height: 18px !important;
          }
          ul {
            li {
              font-size: var(--body-txt) !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  .copy-right {
    .foot-item {
      font-size: var(--third-title) !important;
    }
  }
}
