/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
  html {
    font-size: 25% !important;
  }
  body {
    // background-color: lightblue !important;
  }
  // nav bar
  .nav-bar {
    .active {
      font-size: var(--fs-33) !important;
    }
  }
  // responsive nav
  .offcanvas-body {
    .responsive-nav {
      gap: 6rem;
      .nav-link {
        font-size: var(--fs-30);
        &:hover {
          font-size: var(--fs-33);
        }
      }
    }
  }
  // hero section
  .hero-sec {
    height: 50rem;
    .hero-text {
      width: 80% !important;
      text-align: center;
      bottom: 5%;
      .hero-text-tilte {
        font-size: var(--fs-18);
        margin-bottom: 1rem !important;
      }
      .hero-text-body {
        font-size: var(--fs-16);
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 2.5rem;
      height: 2.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 8rem;
    }
    .swiper-button-prev {
      left: 8rem;
    }
  }
  // about section
  .about-us {
    height: 50rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  // service section
  .service-sec {
    height: 125rem;
    .ser-title {
      padding: 3rem 0;
      font-size: var(--fs-22);
    }
    .service-img {
      height: 100% !important ;
      justify-content: center !important;
      .box-responsive {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;
        .service-list {
          gap: 0 !important;
          height: fit-content !important;
          .serv-item {
            height: auto !important;
            margin: 1.5rem auto !important;
            width: 80% !important;
            padding: 1.5rem 5rem !important;
            img {
              width: 3rem !important;
              height: 3rem !important;
            }
            p {
              font-size: var(--fs-22) !important;
            }
          }
        }
        .img-circle {
          height: 40rem !important;
          order: 3;
          .serv-image {
            width: 50% !important;
            max-width: 40rem;
            min-width: 35rem;
          }
          .big-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
            min-width: 33rem;
          }
          .small-c {
            width: 20%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
            min-width: 15rem;
          }
        }
      }

      .service-feat {
        img {
          height: 3.2rem !important;
          margin-bottom: 1.5rem !important;
        }
        .feat {
          font-size: var(--fs-20);
        }
      }
    }
  }
  // service process
  .service-process {
    height: 110rem;
    .service-proc-img {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center !important;

      .serv-process-hover {
        width: 60% !important;
        min-width: 40rem !important;
        height: auto;
      }
      .service-proc-features {
        max-height: 50% !important;
        padding: 5rem 0 0;
        align-items: center;
        justify-content: space-between;
        .service-proc-title {
          font-size: var(--fs-24) !important;
        }
        .service-proc-feat {
          padding: 3rem 2rem !important;
          width: 80%;
          padding: 0 3rem;
          font-size: var(--fs-22);
        }
      }
    }
  }
  // project card
  .project-card {
    width: 35rem;
    height: 53.8rem;

    .card-content {
      font-size: var(--fs-24);
      bottom: 5%;
    }
  }
  .contact-form {
    width: 90% !important;
  }
  // responsive footer
  .footer-responsive {
    .footer-items {
      margin-bottom: 12rem !important;

      .foot-title {
        text-align: start !important;
        font-size: var(--fs-20) !important;
      }
      .footer-items-box {
        .footer-list-title {
          font-size: var(--fs-16) !important;
        }
        ul {
          li {
            font-size: var(--fs-18) !important;
          }
        }
      }
    }
  }

  // product info
  .project-info {
    width: 80% !important;
    margin: 3rem auto !important;
    .product-details {
      margin: 0 !important;
      .product-title {
      }
      .product-text {
      }
    }
    .product-feature {
      .feat-title {
      }
      .feat-num {
      }
      .feat-tit {
      }
      .feat-bdy {
      }
    }
    .product-download {
      .download-btn {
      }
    }
  }
}

// /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) and (max-width: 767px) {
  html {
    font-size: 30% !important;
  }

  body {
    // background-color: red !important;
  }
  // nav bar
  .nav-bar {
    .active {
      font-size: var(--fs-33) !important;
    }
  }
  // responsive nav
  .offcanvas-body {
    .responsive-nav {
      gap: 8rem;
      .nav-link {
        font-size: var(--fs-30);
        &:hover {
          font-size: var(--fs-33);
        }
      }
    }
  }
  // hero section
  .hero-sec {
    height: 65rem;
    .hero-text {
      width: 80% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--fs-22);
        margin-bottom: 1.5rem !important;
      }
      .hero-text-body {
        font-size: var(--fs-20);
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.2 rem;
      height: 3.2 rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // about section
  .about-us {
    height: 65rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  // service section
  .service-sec {
    height: 160rem;
    .ser-title {
      padding: 3rem 0;
      font-size: var(--fs-22);
    }
    .service-img {
      height: 100% !important ;
      justify-content: center !important;
      .box-responsive {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;
        .service-list {
          gap: 0 !important;
          height: fit-content !important;
          .serv-item {
            height: auto !important;
            margin: 1.5rem auto !important;
            width: 80% !important;
            padding: 1.5rem 5rem !important;
            img {
              width: 3rem !important;
              height: 3rem !important;
            }
            p {
              font-size: var(--fs-22) !important;
            }
          }
        }
        .img-circle {
          height: 67rem !important;
          order: 3;

          .serv-image {
            width: 40% !important;
            max-width: 80rem;
            min-width: 50rem;
          }
          .big-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
            min-width: 45rem;
          }
          .small-c {
            width: 20%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
            min-width: 25rem;
          }
        }
      }

      .service-feat {
        img {
          height: 3.2rem !important;
          margin-bottom: 1.5rem !important;
        }
        .feat {
          font-size: var(--fs-20);
        }
      }
    }
  }
  // service process
  .service-process {
    height: 150rem;
    .service-proc-img {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center !important;
      .serv-process-hover {
        width: 70% !important;
        min-width: 60rem !important;
        max-width: 80rem;
        height: auto;
      }
      .service-proc-features {
        max-height: 40% !important;
        padding: 7rem 0 0;
        align-items: center;
        justify-content: space-between;
        .service-proc-title {
          font-size: var(--fs-24) !important;
        }
        .service-proc-feat {
          padding: 3rem 2rem !important;
          width: 90%;
          padding: 0 3rem;
          font-size: var(--fs-22) !important;
        }
      }
    }
  }
  // project card
  .project-card {
    width: 35rem;
    height: 53.8rem;

    .card-content {
      font-size: var(--fs-24);
      bottom: 5% !important;
    }
  }
  .contact-form {
    width: 90% !important;
  }

  // responsive footer
  .footer-responsive {
    .footer-items {
      bottom: 65% !important;
      padding-bottom: 15rem !important;
    }
  }

  //  footer
  .footer {
    .lets-hunt {
      .footer-items {
        top: -3%;
        .foot-title {
        }
        .footer-items-box {
          .footer-list-title {
          }
          ul {
            li {
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  // responsive footer
  .footer-responsive {
    .footer-items {
      bottom: 55% !important;
      padding-bottom: 15rem !important;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 35% !important;
  }

  body {
    // background-color: rgb(43, 255, 0) !important;
  }
  // hero section
  .hero-sec {
    height: 90rem;
    .hero-text {
      width: 80% !important;
      text-align: center;
      bottom: 10%;
      .hero-text-tilte {
        font-size: var(--fs-24);
        margin-bottom: 1.5rem !important;
      }
      .hero-text-body {
        font-size: var(--fs-22);
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;
      .box-responsive {
        .img-circle {
          height: 67rem !important;
          .serv-image {
            width: 100% !important;
          }
          .big-c {
            width: 100%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
          .small-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
        }
      }
    }
  }
  // about section
  .about-us {
    height: 90rem;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
  .contact-form {
    width: 80% !important;
  }
  //  footer
  .footer {
    .lets-hunt {
      .footer-items {
        top: 0;
        .foot-title {
        }
        .footer-items-box {
          .footer-list-title {
          }
          ul {
            li {
            }
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 40% !important;
  }

  body {
    // background-color: rgb(255, 0, 191) !important;
  }
  // hero section
  .hero-sec {
    height: 100rem;
    .hero-text {
      width: 80% !important;
      text-align: center;
      bottom: 12%;
      .hero-text-tilte {
        font-size: var(--fs-24);
        margin-bottom: 1.5rem !important;
      }
      .hero-text-body {
        font-size: var(--fs-22);
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;
      .box-responsive {
        .img-circle {
          height: 67rem !important;
          .serv-image {
            width: 100% !important;
          }
          .big-c {
            width: 100%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
          .small-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
        }
      }
    }
  }
  // about section
  .about-us {
    height: 80%;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 5rem;
      height: 5rem;

      &::after {
        font-size: 0;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 48% !important;
  }

  body {
    // background-color: rgb(0, 4, 255) !important;
  }
  .hero-sec {
    height: 90rem;

    .hero-text {
      width: 80% !important;
      text-align: center;
      bottom: 12%;
      .hero-text-tilte {
        font-size: var(--fs-24);
        margin-bottom: 1.5rem !important;
      }
      .hero-text-body {
        font-size: var(--fs-22);
        margin: 0;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 3.5rem;
      height: 3.5rem;
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      right: 10rem;
    }
    .swiper-button-prev {
      left: 10rem;
    }
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;
      .box-responsive {
        .img-circle {
          height: 67rem !important;
          .serv-image {
            width: 100% !important;
          }
          .big-c {
            width: 100%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
          .small-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
        }
      }
    }
  }
  // about section
  .about-us {
    height: 90%;
    .swiper-button-next,
    .swiper-button-prev {
      margin: 0 5rem;
      width: 10rem;
      height: 10rem;

      &::after {
        font-size: 0;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */

@media only screen and (min-width: 1400px) {
  html {
    font-size: 62.5% !important;
  }

  body {
    // background-color: rgba(204, 0, 255, 0.521) !important;
  }
  // service section
  .service-sec {
    height: 85rem;
    .service-img {
      height: 100%;
      .box-responsive {
        .img-circle {
          height: 67rem !important;
          .serv-image {
            width: 100% !important;
          }
          .big-c {
            width: 100%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
          .small-c {
            width: 40%;
            aspect-ratio: 1 / 1 !important;
            height: auto;
          }
        }
      }
    }
  }
}
